{
  "debug":true,
  "rcon":{
    "ip":"localhost",
    "port":9100,
    "pass":"supersecurerconpassword"
  },
  "mysql":{
    "host":"localhost",
    "port":3306,
    "database":"spqr",
    "user":"spqr",
    "pass":"supersecuremysqlpassword"
  },
  "discord":{
    "bot_token":"supersecurediscordbottoken"
  },
  "target_log":"/opt/pavlov-server/praefectus/logs/Pavlov.log",
  "autopin":"9678",
  "autopin_limits":{
    "0": 0,
    "1": 0,
    "2": 9,
    "3": 5,
    "4": 30,
    "5": 22,
    "6": 22,
    "7": 30,
    "8": 0,
    "9": 0
  },
  "pinglimit":{
    "minentries":50,
    "keepentries":4,
    "0": {
      "enabled":true,
      "kick":false,
      "hard":300,
      "soft":250,
      "delta":25
    },
    "1":{
      "enabled":true,
      "kick":true,
      "hard":80,
      "soft":70,
      "delta":15
    },
    "2": {
      "enabled":true,
      "kick":false,
      "hard":100,
      "soft":75,
      "delta":20
    },
    "3": {
      "enabled":true,
      "kick":false,
      "hard":100,
      "soft":75,
      "delta":20
    },
    "4": {
      "enabled":true,
      "kick":false,
      "hard":300,
      "soft":250,
      "delta":25
    },
    "5": {
      "enabled":true,
      "kick":false,
      "hard":300,
      "soft":250,
      "delta":25
    },
    "6": {
      "enabled":true,
      "kick":false,
      "hard":300,
      "soft":250,
      "delta":25
    },
    "7": {
      "enabled":false,
      "kick":false,
      "hard":300,
      "soft":250,
      "delta":25
    },
    "8": {
      "enabled":false,
      "kick":false,
      "hard":300,
      "soft":250,
      "delta":25
    },
    "9": {
      "enabled":false,
      "kick":false,
      "hard":300,
      "soft":250,
      "delta":25
    }
  },
  "rconplus":{
    "0": true,
    "1": false,
    "2": false,
    "3": false,
    "4": false,
    "5": false,
    "6": false,
    "7": false,
    "8": false,
    "9": false
  },
  "autobot":{
    "0": {
      "managed": false,
      "amount": 3
    },
    "1": {
      "managed": false,
      "amount": 0
    },
    "2": {
      "managed": false,
      "amount": 0
    },
    "3": {
      "managed": true,
      "amount": 4
    },
    "4": {
      "managed": true,
      "amount": 20
    },
    "5": {
      "managed": true,
      "amount": 10
    },
    "6": {
      "managed": true,
      "amount": 10
    },
    "7": {
      "managed": false,
      "amount": 0
    },
    "8": {
      "managed": false,
      "amount": 0
    },
    "9": {
      "managed": false,
      "amount": 0
    }
  },
  "autochicken":{
    "0": 3,
    "1": 0,
    "2": 0,
    "3": 0,
    "4": 0,
    "5": 0,
    "6": 0,
    "7": 0,
    "8": 0,
    "9": 0
  },
  "autozombie":{
    "0": 3,
    "1": 0,
    "2": 0,
    "3": 0,
    "4": 0,
    "5": 0,
    "6": 0,
    "7": 0,
    "8": 0,
    "9": 0
  },
  "trails":{
    "0": true,
    "1": false,
    "2": false,
    "3": false,
    "4": false,
    "5": false,
    "6": false,
    "7": false,
    "8": false,
    "9": false
  },
  "prone":{
    "0": true,
    "1": false,
    "2": false,
    "3": false,
    "4": false,
    "5": false,
    "6": false,
    "7": false,
    "8": false,
    "9": false
  },
  "disable_falldamage":{
    "0": true,
    "1": false,
    "2": false,
    "3": false,
    "4": false,
    "5": false,
    "6": false,
    "7": false,
    "8": false,
    "9": false
  },
  "hardcore":{
    "0": false,
    "1": false,
    "2": false,
    "3": false,
    "4": false,
    "5": false,
    "6": false,
    "7": false,
    "8": false,
    "9": false
  }
}
