{
  "debug":true,
  "rcon":{
    "ip":"localhost",
    "port":9100,
    "pass":"supersecurerconpassword"
  },
  "mysql":{
    "host":"localhost",
    "port":3306,
    "database":"spqr",
    "user":"spqr",
    "pass":"supersecuremysqlpassword"
  },
  "discord":{
    "bot_token":"supersecurediscordbottoken",
    "guild-id":"01234567890123456789",
    "senate-member":[
      "01234567890123456789"
    ],
    "senate-cmds":[
      "!clear",
      "!writeas",
      "!unregister",
      "!genteams",
      "!resetsnd",
      "!rotatemap",
      "!setrandommap",
      "!setmap",
      "!pause",
      "!unpause",
      "!kick",
      "!ban",
      "!unban",
      "!rcon"
    ],
    "channel-ids":{
      "welcome":"012345678901234567890",
      "news":"012345678901234567891",
      "chat":"012345678901234567892"
    },
    "role-ids":{
      "gladiator":"012345678901234567890",
      "tiro":"012345678901234567890"
    },
    "bot-commands-channel":"012345678901234567890"
  }
}
